<!-- <nav>
  <a routerLink="/" class="main-menu">home</a>
  <a routerLink="details" class="main-menu">details</a>
  <a routerLink="productDetail/c-351000" class="main-menu">product details</a>
  <a routerLink="logout" class="main-menu">logout</a>
</nav>
 -->

<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/angular-js-logo.png.crdownload"
        alt=""
        width="40px"
        class=""
      />
      Angular Universal Resolver DEMO
    </a>
    <a routerLink="/" class="main-menu">home</a>
    <a routerLink="details" class="main-menu">details</a>
    <a routerLink="productDetail/c-351000" class="main-menu">product details</a>
    <a routerLink="logout" class="main-menu">logout</a>
  </div>
</nav>
